import java.util.Scanner
public class Password
{
    public static void main(String[] args)
    {
        String pass1 = "";
        String pass2 = "";
        Scanner sc = new Scanner (System.in);
        System.out.println("Enter password");
        pass1 = sc.nextLine();
        System.out.println("Enter again to verify");
        pass2 = sc.nextLine();
        if(pass1.equals(pass2))
        {
            System.out.println("Password verified")
        }
        else
        {
            System.out.println("Passwords do not match!")
        }
}
